.container{height: 100%;
	width: 100%;
	background-color:grey;
	color: white;
	font-size: 50px;

}
.sub{
	height: 900px;
	width: 100%;
	background-color: blue;
}
.list{height: 100%;
	width: 100%;
	background-color: aqua;


}
.logo{height: 20%;
	width:70%;
	background-color: black;
	float:right;

}
.banner{height: 60%;
	width: 70%;
	background-color:green;
	float: right;


}
.banner-one{height: 100%;
	width: 50%;
	background-color:lightgreen;
	float: left;

}
.banner-two{height: 100%;
	width: 50%;
	background-color:skyblue;
	float: right;


}
.content{height: 20%;
	width: 70%;
	background-color:pink;
	float: right;

}
.footer{height:100px;
	width: 100%;
	background-color: blue;
	color: white;

}